<div class="grid">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-eyes.jpg')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-pants.jpg')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-tulum.jpg')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-heart.jpg')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-class.jpg')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-fish.jpg')">
</div>
