<div class="grid">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-eyes.JPG')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-pants.JPG')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-tulum.jpg')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-heart.JPG')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-class.JPG')">
  <a class="grid__img" href="" style="background-image:url('assets/images/lauren-fish.JPG')">
</div>
